@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 4%;
    --foreground: 0 0% 93%;
    --card: 240 5% 6%;
    --card-foreground: 0 0% 93%;
    --popover: 240 5% 7%;
    --popover-foreground: 0 0% 93%;
    --primary: 263 90% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 13%;
    --secondary-foreground: 0 0% 80%;
    --muted: 240 5% 10%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 13%;
    --accent-foreground: 0 0% 93%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 12%;
    --ring: 263 90% 65%;
    --radius: 0.4rem;
    --sidebar: 240 6% 3%;
    --sidebar-foreground: 0 0% 93%;
    --sidebar-border: 240 5% 10%;
    --sidebar-accent: 240 5% 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
